{%extends 'all-photos/base.html'%}
{% block content %}
<div class="container">

  <div class="row">
    {% if searched_images %}
    {% for image in searched_images %}

    {% endfor %}
    {% endif %}
    <h1>Search</h1>
    {% if searched_images%}
    <h2>Found {{ searched_images|length }} photos for the searched term
      '{{message}}'</h2>
    {% else %}
    <h2> Found 0 images for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

    {% if searched_images%}
    {% for image in searched_images %}

    <!-- Image -->
    <img class="gallery-item" src="{{image.image.url}}" alt="{{ image.name }}" data-toggle="modal" data-target="#a{{ image.id }}">
  </div>
  {% endfor %}
  {% endif %}
</div>
{% endblock %}