{% extends "base.html" %}

{% block content %}

    
    {% if searched_photos %}
    {% for image in searched_photos %}
      
    {% endfor %}
    {% endif %}

    <div class="container">
        <div id='intro-home'>
            <h2>Search</h2>
            <hr>
        {% if searched_photos%}
          <h7>Found {{ searched_images|length }} photos for the searched term '{{message}}'</h7>
        {% else %}
          <h7> Found 0 photos for the search term '{{message}}'</h7>
        {% endif %}
                <br>
        </div>
        
        {% if searched_images%}
        <div class="class="gallery equalsize"">
          {% for photos in searched_photos %}
  
              <!-- Image -->
              <img class="gallery-item" src="{{photos.photos.url}}" alt="{{ photos.name }}" data-toggle="modal" data-target="#a{{ photos.id }}">
  
              <!-- Modal -->
              <div class="modal fade" id="a{{ image.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">{{image.name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <div class='image-modal'>
                              <img  src="{{photos.photos.url}}" alt="{{ photos.name }}" data-toggle="modal" data-target="#exampleModalCenter">
                          </div>
                          <br>
                          <div class='desc-modal'>
                              {{image.description}}
                          </div>
                          <input type="text" value="https://photopeach.herokuapp.com{{image.image.url}}" id="link{{image.id}}">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-success" onclick="copyLink({{photos.id}})">Copy Link</button>
                      </div>
                    </div>
                  </div>
                </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>

{% endblock %}