{%extends 'all-photos/base.html'%}
{% block content %}
  <div class="row">
    {% if searched_images %}
    {% for image in searched_images %}

    {% endfor %}
    {% endif %}
    {% if searched_images%}
    <h2 class="animated bounceInLeft">Found {{ searched_images|length }} photos for the searched term
      '{{message}}'</h2>
    {% else %}
    <h2 class="animated bounceInLeft"> Found 0 images for the search term {{message}}</h2>
    {% endif %}

  </div>

  {% if searched_images%}
  <div class="row">
    {% for image in searched_images %}
    <div class="col-md-3 col-lg-4">
      <div class="card">
        <!-- Image -->
        <img class="gallery-item" src="{{image.image.url}}" style="width: 400px;height:300px" alt="{{ image.name }}"
          data-toggle="modal" data-target="#a{{ image.id }}">

      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock %}