<nav class="navbar navbar-expand-lg navbar" style="background-color: #006064">
    <a class="btn btn-outline-warning" style="font-size:large" href="{% url 'homepage' %}">My gallary</a>
    </button>
      <form class="form-inline my-2 my-lg-0" role="search" style="margin-left: 1140px" action="{% url 'search_results' %}">
        <input class="form-control mr-sm-4" type="search" placeholder="Search category" aria-label="Search" name="image">
        <button class="btn btn-outline-warning my-2 my-sm-0" style="font-size:large"type="submit">Search</button>
      </form>
    </div>
  </nav>